
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal" action='' method="POST">
					<fieldset>
						<div id="legend">
						<legend class="">Registro</legend>
						</div>
						<div class="control-group" style="color:#aec251">
						<!-- Username -->
						<label class="control-label"  for="username">Usuario</label>
						<div class="controls">
							<input type="text" id="username" name="username" placeholder="" class="input-xlarge">
						</div>
						</div>
						<div class="control-group" style="color:#aec251">
						<!-- Password-->
						<label class="control-label" for="password">Contraseña</label>
						<div class="controls">
							<input type="password" id="password" name="password" placeholder="" class="input-xlarge">
						</div>
						</div>
						<br/>
						{% for messages in get_flashed_messages() %}
							<div style="color:red">{{messages}}</div>
						{% endfor %}
						<div class="control-group">
							<!-- Button -->
							<div class="controls">
								<input type="submit" class="btn btn-success" value="Registrarse">
							</div>
						</div>
					</fieldset>
				</form>
            </div>
        </div>
    </div>
</div>

{% endblock %}